.italic {
    font-style: italic;
    padding: 10px;
    font-size: 17px;
}
span {
    font-weight: bold;
}
ul {
    list-style-type: none;
}
#animal {
    border: 3px solid black;
    border-radius: 20px;
    margin: 480px;
    box-shadow: 10px 5px 10px #525354;
    background-color: #f2c00c;
    width: 330px;
}
.firstname {
    padding: 8px;
    font-style: bold;
    font-size: 30px;
}
img {
    width: 300px;
    border: 3px solid black;
    display: block;
    margin: auto;
    border-radius: 25px;
}
.descript,
br {
    font-size: 17px;
}
li {
    padding: 5px;
}
p {
    text-align: center;
}
div.lastname {
    border: 2px solid black;
    border-radius: 25px;
    margin: 20px;
    background-color: #494433;
    color: white;
}
div.lastride {
    background-color: #494433;
    color: white;
    width: 150px;
}
